/HardwareTest/nbproject/private/
/HardwareTest/build/
/HardwareTest/dist/
/Test4MPU6050/nbproject/private/
/Test4MPU6050/build/
/Test4MPU6050/dist/
/MotionRecognition/nbproject/private/
/MotionRecognition/build/